.header {
  background-color: white;
  display: flex;
  border-bottom: 0.1px solid lightgrey;
  padding: 7px 15vw;
  justify-content: space-between;
  overflow-x: hidden;
}

.left > img {
  object-fit: contain;
}

.left {
  display: grid;
  gap: 0 20px;
  grid-template-columns: auto auto;
  align-items: center;
}
.search {
  padding: 7px;
  display: flex;
  align-items: center;
  border-radius: 5px;
  color: gray;
  background-color: #eef3f8;
}
.search > input {
  outline: none;
  border: none;
  background: none;
  width: 200px;
}

.home {
  margin-right: 0px; /* Add margin to the right of the icon */
  font-size: 24px;
  cursor: pointer;
}

.headerOptionContainer {
  display: grid;
  gap: 0 30px;
  grid-template-columns: auto auto auto auto auto;  
  align-items: center;
  color: rgb(92, 91, 91);
}
