.headerOption{
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;

}

.headerOption:hover{
    color: black;
    
}

.headerOption__title{
    text-decoration: none;
    font-size: 12px;
}