.sidebar {
  width: fit-content;
  border-radius: 10px;
  height: fit-content;
}
.sidebar__avatar {
  margin-bottom: 10px;
  margin: auto;
}
.sidebar__bottom > a {
  font-size: 16px;
  text-decoration: none;
  color: black;
  font-weight: 700;
  padding-bottom: 2px;
}
.sidebar__bottom > span {
  font-size: 12px;
  text-decoration: none;
  color: gray;
  font-weight: 400;
  padding-bottom: 5px;
}

.sidebar__top {
  display: flex;
  flex-direction: column;
  background-color: white;
  border-radius: 10px;
}
.sidebar__top > img {
  margin-bottom: -20px;
  width: 100%;
  height: 60px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  object-fit: cover;
}
/* .sidebar__stats {
  margin-top: -150px;
} */
.sidebar__statNo{
  text-decoration: underline;
  font-weight: 500;
}
.sidebar_top_text{
  color: black;
  padding: 0 10px 0 10px ;
}
.sidebar__bottom {
 display: flex;
 flex-direction: column;
 text-align: center;
}
.sidebar__recentitems {
  display: flex;
  font-size: 14px;
  color: gray;
  font-weight: bolder;
  cursor: pointer;
}
.sidebar__recentitems:hover {
  background-color: whitesmoke;
  border-radius: 10px;
  cursor: pointer;
  color: black;
}
.sidebar__hash {
  margin-right: 10px;
  margin-left: 5px;
}
.sidebar__bottom_list{
  background-color: white;
  font-size: 16px;
  padding: 5px;
  border-radius: 10px;
}
